<div id="playerUI">
  <div id="timeDisplay"></div>
  <div id="currentFile"></div>
  <div id="positionTracker"></div>
  <ul id="playerControls" class="buttons">
    <li><button type="button" id="btnPrevious">&lt;&lt;</button></li>
    <li><button type="button" id="btnPlayPause">Play</button></li>
    <li><button type="button" id="btnNext">&gt;&gt;</button></li>
  </ul>
</div>
<ul class="buttons">
  <li>
    <input type="file" id="fileSelector" multiple="true" accept="audio/*" />
  </li>
  <li>
    <button type="button" id="btnAddDriveFiles">Add Drive Files</button>
  </li>
  <li>
    <button type="button" id="btnRemoveAllFiles">Remove All</button>
  </li>
</ul>
<ul id="playlist" dropzone="copy f:audio/*"></ul>

<%= render "remote_file_selector" %>

<% content_for :javascript do %>
<script type="text/javascript">
'use strict';
window.aerieWorks.require([
    'aerieWorks.musicPlayer.Playlist',
    'aerieWorks.musicPlayer.Player',
    'aerieWorks.musicPlayer.ui.PlayerView',
    'aerieWorks.musicPlayer.ui.PlaylistView',
    'aerieWorks.vendor.google.drive.DriveFileSource'
  ], function (aw, $) {
  $(function() {
    var playlist = aw.musicPlayer.Playlist.create();
    var player = aw.musicPlayer.Player.create(playlist);

    var playerView = aw.musicPlayer.ui.PlayerView.create(
      player,
      playlist,
      $('#positionTracker'),
      $('#timeDisplay'),
      $('#currentFile'),
      $('#btnPrevious'),
      $('#btnNext'),
      $('#btnPlayPause'));

    var playlistView = aw.musicPlayer.ui.PlaylistView.create(
      playlist,
      $('#playlist'),
      $('#btnAddDriveFiles'),
      $('#fileSelector'),
      $('#btnRemoveAllFiles'),
      aw.vendor.google.drive.DriveFileSource);
  });
});
</script>
<% end %>
