<div id="playerUI">
  <div id="timeDisplay"></div>
  <div id="currentFile"></div>
  <div id="positionTracker"></div>
  <ul id="playerControls" class="buttons">
    <li><button type="button" id="btnPrevious">&lt;&lt;</button></li>
    <li><button type="button" id="btnPlayPause">Play</button></li>
    <li><button type="button" id="btnNext">&gt;&gt;</button></li>
  </ul>
</div>
<ul class="buttons">
  <li>
    <input type="file" id="fileSelector" multiple="true" accept="audio/*" />
  </li>
  <li>
    <button type="button" id="btnAddDriveFiles">Add Drive Files</button>
  </li>
  <li>
    <button type="button" id="btnRemoveAllFiles">Remove All</button>
  </li>
</ul>
<ul id="playlist" dropzone="copy f:audio/*"></ul>

<%= render "remote_file_selector" %>

<% content_for :javascript do %>
  <script type="text/javascript">
"use strict";
  $(function() {
    var mp = window.aerieWorks.musicPlayer;
    var playlist = new mp.Playlist();
    var player = new mp.Player(playlist);

    var playerView = new mp.ui.PlayerView(
      player,
      playlist,
      $('#positionTracker'),
      $('#timeDisplay'),
      $('#currentFile'),
      $('#btnPrevious'),
      $('#btnNext'),
      $('#btnPlayPause'));

    var playlistView = new mp.ui.PlaylistView(
      playlist,
      $('#playlist'),
      $('#btnAddDriveFiles'),
      $('#fileSelector'),
      $('#btnRemoveAllFiles'));
  });
  </script>
<% end %>
